
/****** GENERAL STYLING *******/

@font-face {
	font-family: 'Focus Regular';
	src: local("☺"),
		url('fonts/focus_regular/focus-regular-webfont.woff2') format('woff2'),
        url('fonts/focus_regular/focus-regular-webfont.woff') format('woff'),
		url('fonts/focus_regular/focus-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Focus Medium';
	src: local("☺"),
		url('fonts/focus_medium/focus-medium-webfont.woff2') format('woff2'),
        url('fonts/focus_medium/focus-medium-webfont.woff') format('woff'),
		url('fonts/focus_medium/focus-medium.ttf') format('truetype');
}

html {
	height: 100%;
}

body {
	font-family: 'Focus Regular';	
	font-size: 1em;
	line-height: 2;
	background: url('../images/sparkle.png') rgb(255, 195, 0);
	background-size: 200px;
	text-align: center;
	color: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

p,
h1,
h2,
h3,
h4 {
	letter-spacing: .13em;
}

a {
	text-decoration: none;
	color: white;
}

a.svg {
  position: relative;
  display: block;
}

a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}

/********* LAYOUT ***********/

.main-nav a,
.learn-more a {
	display: block;
}

.main-nav li {
	margin: 10px auto;
	width: 80%;
	height: 30px;
	padding-top: 7px;
}

.container {
	margin: 0 auto;
	width: 80%;
	margin-top: 90px;
	flex: 1;
}

.main-intro {
	margin: 0 auto;
	max-width: 410px;
}

.main-footer {
	margin-top: 30px;
}

/********* STYLING ***********/

.main-nav {
	display: none;
}

.main-greeting,
.main-intro p {
	text-transform: uppercase;
}

.main-greeting {
	font-family: 'Focus Medium';
}

.main-intro {
	color: rgb(126, 131, 140);
}

.learn-more {
	margin: 0 auto;
	max-width: 150px;
	font-family: 'Focus Medium';
}

.h1-margin {
	margin-top: 2em;
	margin-bottom: 1em;
}

.learn-more,
.skill {
	border: 3px solid #fff;
	border-radius: 7px;
}

.line-rounded {
	border: 5px solid #fff;
	border-radius: 5px;
}

.copyright {
	color: rgb(126, 131, 140);
	font-size: .5em;
}


/********* SLICK STYLING ***********/

.slick-dots {
	bottom: -35px;
}

.slick-dots li button:before {
	font-size: 16px;
	color: #fff;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.center {
	display: none;
}

/********* SLICK NAV STYLING *********/

.slicknav_nav a {
	text-transform: uppercase;
	padding-top: 15px;
}

.slicknav_nav li {
	height: 50px;
}

.slicknav_nav li .separator {
	display: none;
}

.slicknav_menu {
	display: block;
	background: rgb(255, 195, 0);
	text-align: center;
	width: 100%;
	background: url('../images/sparkle.png') transparent;
	background-size: 200px;
}

.slicknav_btn {
	display: inline-block;
	float: none;
	text-align: center;
	background: transparent;
	text-shadow: none;
	font-size: 1.8em;
}

.slicknav_menu .slicknav_menutxt {
	text-shadow: none;
}

.slicknav_menu .slicknav_icon-bar {
	width: 1.825em;
	height: .3em;
	border-radius: 3px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.slicknav_menu .slicknav_icon {
	margin-left: -.6em;
	margin-top: -.1em;
}

.slicknav_nav a:hover {
	background: #fff;
	color: rgb(126, 131, 140);
}
 
/********* ABOUT PAGE *********/

.avatar img {
	width: 200px;
	border: 5px solid #fff;
	border-radius: 7px;
}

.logo {
	width: 100px;
}

.about-bground {
	background: url('../images/sparkle.png') rgb(233, 161, 185);
	background-size: 200px;
}

/********* CV PAGE *********/

.cv-bground {
	background: url('../images/sparkle.png') rgb(2, 201, 201);
	background-size: 200px;
}

.cv-list {
	margin-top: 3em;
}

.cv-titles {
	margin-top: 1.2em;
}

.position {
	margin-top: -.2em;
	margin-bottom: 0;
}

.company {
	margin-top: .6em;
	margin-bottom: 0;
}

.dates {
	margin-top: .4em;
	font-size: .8em;
}

.up-arrow {
	width: 50px;
	margin-top: 3em;
}

/********* SKILLS PAGE *********/

.skills-bground {
	background: url('../images/sparkle.png') rgb(220, 220, 220);
	background-size: 200px;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2.5em;
}

.skill {
	width: 40%;
	max-width: 200px;
	margin-top: 1em;
}

.skill p {
	padding: 5px 10px;
}

/********* CONTACT PAGE *********/

.contact-bground {
	background: url('../images/sparkle.png') rgb(194, 213, 63);
	background-size: 200px;
}

/********* MEDIA QUERIES *********/

@media (min-width: 720px) {

	#mobile-nav {
		display: none;
	}

	.main-header,
	.main-nav,
	.cv-list {
		display: flex;
	}

	.main-header {
		flex-direction: column;
	}

	.main-nav li {
		margin: 10px 5px;
	}

	.main-nav a {
		padding: 12.5px;
	}

	.active a {
		color: rgb(126, 131, 140);
	}

	.cv-list {
		justify-content: space-between;
	}

	.cv-titles {
		margin: 0 auto;
	}

	.dates {
		margin-top: .6em;
	}

	.pdf-margin {
		margin-top: 3em;
	}

	.skill {
		margin-left: .6em;
		margin-right: .6em;
	}


}


@media (min-width: 1025px) {

	.container {
		margin-top: 8em;
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		width: 80%;
	}

	.name {
		margin-left: 17.5px;
	}

	.rotate {
		-webkit-transition: transform .9s;
		-moz-transition: transform .9s;
		-ms-transition: transform .9s;
		transition: transform .9s;
	}

	.rotate:hover {
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
	}

	.line-rounded-sm {
		margin-top: 1em;
		border: 1px solid #fff;
		border-radius: 2px;
	}

	.skill-intro {
		display: flex;
		max-width: none;
		justify-content: space-between;
		margin-right: .6em;
		margin-left: .6em;
	}

	.col-1 p {
		padding-right: 2em;
	}

	.skill {
		max-width: 180px;
	}


}




















