
/* Front page / Gallery  */

body {
	font-family: sans-serif;
}

img {
	margin: 5px 30px 30px 30px;
}

button:focus {
	outline: 0;
}

svg {
	height: 100%;
}

input:focus {
	border-color: #1ED760;
}

footer {/*
	margin-top: 150px;*/
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #000;
	color: #fff;
}

.header {
	margin: 0 auto;
	text-align: center;
	padding-top: 8em;
	padding-bottom: 3em;
	width: 100%;
	top: 0;
	background-color: white;
	z-index: 900;
	background-image: linear-gradient(to right, rgba(247,34,151, .8), rgba(162,77,242, .8));
}

.header input {
	width: 60%;
	max-width: 460px;
	border: 3px solid rgb(230, 230, 230);
	border-radius: 50px;
	background: transparent;
	color: #fff;
	font-size: 16px;
	height: 40px;
	outline: 0;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	margin-right: 10px;
}

#searchField {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo {
	display: block;
	width: 100%;
	height: 4em;
	margin-bottom: 2em;
	position: fixed;
	background-color: rgba(0,0,0,.6);
	padding: 1em 0;
	text-align: center;
	z-index: 1000;
}

.main-heading {
	margin-bottom: 1em;
	color: #fff;
	font-size: 2em;
	font-weight: 700;
}

.btn button {
	background: none;
	border: none;
}

.btn img {
	margin: 0;
	height: 48px;
}

.btn img:hover {
	transform: none;
}

.col {
	display: inline-block;
}

#resultsFor {
	margin-top: 2em;
	text-align: center;
}

.search-title {
	margin: 0 auto;
	font-size: 2em;
	color: rgb(162,77,242);
}

#imageGallery {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 1100px;
	text-align: center;
	min-height: calc(100vh - 416px);
	z-index: 900;
}

.album-img:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.lb-caption p:first-of-type {
	font-size: 2em;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 0;
}

.lb-caption p:nth-child(2n) {
	font-size: 1.2em;
}

.lb-data .lb-caption a {
	font-size: 20px;
	color: rgb(247,34,151);
}

::-webkit-input-placeholder {
   text-align: center;
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: #fff; 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #fff;
}

:-ms-input-placeholder {  
   text-align: center;
   color: #fff;
}


